<h1 class="text-center">Post List</h1>
<div class="d-flex flex-column justify-content-center">
  <%= link_to 'New Post', new_post_path, class:'btn btn-primary' %>
  <table class="table table-striped table-bordered table-hover text-center">
    <thead>
        <td>user</td>
        <td>category</td>
        <td>title</td>
        <td>content</td>
        <td>address</td>
        <td>comment count</td>
        <td>image</td>
        <td>action</td>
    </thead>
    <% @posts.each do |post| %>
      <tr>
          <td><%= post.user&.email %></td>
          <td><%= post.categories.pluck(:name).join(',') %></td>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= post.address %></td>
          <td><%= post.comments_count %></td>
          <td><%= image_tag post.image.url if post.image.present? %></td>
          <td>
            <div class='d-flex flex-column'>
              <%= link_to 'Show', short_post_path(post.short_url), class: 'btn btn-info' %>
              <%= link_to 'Edit', edit_post_path(post), class:'btn btn-secondary' if user_signed_in? && post.user == current_user %>
              <%= button_to 'Delete', post_path(post), method: :delete, class:'btn btn-danger' if user_signed_in? && post.user == current_user %>
              <%= link_to 'Comments', post_comments_path(post), class:'btn btn-info' %>
              <%= link_to 'New Comment', new_post_comment_path(post), class:'btn btn-primary' %>
            </div>
          </td>
      </tr>
    <% end %>
  </table>
</div>